django==3.2.13
django-enumfield
django_extensions==3.1.5
django-debug-toolbar==3.4.0
django-jinja
django-pipeline==2.0.8
psycopg2
gunicorn
requests==2.27.1
babel==2.10.1
pytz==2021.3
markdown==3.3.7
pylibmc==1.6.1
jsmin==3.0.1
css-html-js-minify==2.5.5
django-dynamic-raw-id==2.8
Pillow
django-imagekit