django==4.2.2
django-enumfield==3.1
django_extensions==3.2.1
django-debug-toolbar==3.8.1
django-jinja==2.10.2
django-pipeline==2.1.0
psycopg2
gunicorn
requests==2.31.0
babel==2.12.1
pytz==2022.7.1
markdown==3.4.3
pylibmc==1.6.3
jsmin==3.0.1
css-html-js-minify==2.5.5
django-dynamic-raw-id==3.0
Pillow
django-imagekit