.background-light {
    background-color: #36393f !important;
}

.background-normal {
    background-color: #2f3136 !important;
}

.background-dark {
    background-color: #202225 !important;
}

.background-black {
    background-color: black !important;
}

.background-dark-green {
    background-color: rgb(15, 102, 34) !important;
}

.background-verydark-green {
    background-color: #0c4128 !important;
}

.background-dark-purple {
    background-color: #2a1d33 !important;
}

h2 {
    padding-top: 0.7em !important;
}

.navbar {
    background-color: black !important;
    color: white !important;
}

.text-blurple {
    color: #7187dd !important;
}

.text-light-green {
    color: #37B97C !important;
}

.text-normal-green {
    color: rgb(33, 186, 69) !important;
}

.text-dark-green {
    color: rgb(24, 133, 49) !important;
}

h1, .h1 {
    color: rgba(255, 255, 255, 0.55) !important;
    font-size: 2rem !important;
    padding-bottom: 0.7em;
    padding-top: 0.3em;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    color: #FFFFFF;
    background: #06303A;
}


.vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 125px;
}

blockquote {
    border-left: 3px solid #199926;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    padding-left: 1em;
}

.background-blurple {
    background-color: #7187dd !important;
}
