<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block canonical %}
        <link rel="canonical" href="https://duckhunt.me{{ request.get_full_path() }}"/>{% endblock %}

    {% block ogp %}
        <meta property="og:title" content="DuckHunt"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://duckhunt.me{{ request.get_full_path() }}"/>
        <meta property="og:image" content="https://duckhunt.me{{ static("public/img/dh.svg") }}"/>
        <meta property="og:site_name" content="DuckHunt Discord V4"/>
    {% endblock %}

    {% block metadesc %}
    {% endblock %}

    <link href="{{ static('public/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static('public/css/all.css') }}" rel="stylesheet">
    <link href="{{ static('public/css/odometer.css') }}" rel="stylesheet">
    <script src="{{ static('public/js/jquery.min.js') }}"></script>
    <script src="{{ static('public/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ static('public/js/JsBarcode.all.min.js') }}"></script>
    <script src="{{ static('public/js/highcharts.js') }}"></script>
    <script src="{{ static('public/js/highcharts-more.js') }}"></script>
    <script src="{{ static('public/js/modules/item-series.js') }}"></script>
    {# <script src="{{ static('public/js/modules/exporting.js') }}"></script> #}
    <script src="{{ static('public/js/themes/high-contrast-dark.js') }}"></script>
    <script src="{{ static('public/js/odometer.min.js') }}"></script>
    <script src="{{ static('public/js/sorttable.js') }}"></script>

    <script>
        Highcharts.setOptions({
            credits: false,
            chart: {
                backgroundColor: '#2f3136',
                borderWidth: 0,
                plotBackgroundColor: '#202225',
                plotShadow: true,
                plotBorderWidth: 1
            },
            exporting: {
                sourceWidth: 2500,
                sourceHeight: 1200
            }
        });
    </script>

    <link href="{{ static('public/css/base.css') }}" rel="stylesheet">
    <title>{% block title %}DuckHunt Discord{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="background-light">
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            DuckHunt Discord V<span class="odometer" id="navbar-odo">4</span>
            <script>
                document.getElementById("navbar-odo").innerHTML = "0";
                document.addEventListener("DOMContentLoaded", function (event) {
                    document.getElementById("navbar-odo").innerHTML = "4";
                });
            </script>

            <img src="{{ static("public/img/armored_duck_Calgeka_logo.png") }}" alt="logo"
                 width="30"
                 height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('docs:index') }}">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('guilds') }}">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('bot_commands') }}">Commands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://discordapp.com/api/oauth2/authorize?client_id=187636051135823872&permissions=70646849&scope=bot">Invite
                        the bot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discordapp.com/invite/2BksEkV">Support server</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('bot_status') }}">Status</a>
                </li>
            </ul>
            <div class="d-flex">
                <!-- Other side -->
            </div>
        </div>
</nav>
{% block container %}
    <div class="container text-light">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
<br/>
<br/>
<footer class="text-center">
    DuckHunt Discord V4 made with <a href="https://github.com/sponsors/paris-ci">❤️</a>️ in Paris
</footer>
<script>JsBarcode(".barcode").init();</script>

</body>
</html>