{% extends "base.jinja2" %}

{% block metadesc %}
    <meta name="description" content="DuckHunt top scores for {{ players|length }} players on #{{ channel.name }}.">
{% endblock %}

{% block title %}
    DuckHunt V4 - Top Scores for #{{ channel.name }}
{% endblock %}

{% block head %}
    {% javascript 'highcharts' %}
    <script src="{{ static('public/js/sorttable.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>{{ paginator.count }} players on #{{ channel.name }}</h1>

    <p>
        To see the settings used by this channel, you can click <a href="{{ url("channel_settings", pk=channel.pk) }}">here</a>.
        To see all the channels on the server, click <a href="{{ url("guild", pk=channel.guild_id) }}">here</a>
    </p>

    {# Graphs #}
    {% if chart_best_players_data_experience %}
        <div class="h2">Best players</div>
        <div id="chart-best-players"></div>
    {% endif %}

    <div class="h2">Where do bullets go ?</div>
    <div id="chart-shots"></div>

    {% if global_best_times %}
        <div class="h2">Fastest hunters in the west</div>
        <div id="chart-best-times"></div>
    {% endif %}

    {# Top scores #}

    <h2>Top scores</h2>

    <table class="table table-dark table-hover sortable">
        <thead>
        <tr>
            <th class="background-green" scope="col">#</th>
            <th class="background-green" scope="col">Name</th>
            <th class="text-end background-green" scope="col">Experience</th>
            <th class="text-end background-green" scope="col">Ducks killed</th>
        </tr>
        </thead>
        <tbody>
        {% set player_url = url('player_nopk', channel_pk=channel.pk) %}
        {% for player in players %}
            <tr>
                <th scope="row">{{ players.start_index() + loop.index0 }}</th>
                <td>
                    <a href="{{ player_url }}{{ player.member.user.pk }}">{{ player.member.user.name }}#{{ player.member.user.discriminator }}</a>
                </td>
                <td class="text-end">{{ intcomma(player.experience) }}</td>
                <td class="text-end">{{ player.total_ducks_killed }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if paginator.num_pages != 1 %}
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation" style="margin-top: 1em;">
                <ul class="pagination pagination-sm flex-wrap">
                    {% for i in range(paginator.num_pages) %}
                        {% if i + 1 == players.number %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ i + 1 }}</span>
                            </li>
                        {% else %}
                            <li class="page-item"><a href="{{ request.path }}?page={{ i + 1 }}"
                                                     class="page-link">{{ i + 1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}

    <script>
        {% if chart_best_players_data_experience %}
            Highcharts.chart('chart-best-players', {
                tooltip: {
                    pointFormat: 'Exp: {point.y}'
                },
                legend: {
                    enabled: true
                },
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                yAxis: {
                    type: 'logarithmic',
                    title: {
                        text: 'Experience',
                    },
                },
                xAxis: {
                    labels: {
                        enabled: true,
                    },
                    title: {
                        text: 'Rank',
                    },
                },
                {# This force the graph to only show one serie at a time #}
                plotOptions: {
                    series: {
                        events: {
                            show: (function () {
                                var chart = this.chart,
                                    series = chart.series,
                                    i = series.length,
                                    otherSeries;
                                while (i--) {
                                    otherSeries = series[i];
                                    if (otherSeries != this && otherSeries.visible) {
                                        otherSeries.hide();
                                    }
                                }
                            })
                        }
                    }
                },
                series: [
                    {
                        name: 'Experience',
                        colorByPoint: false,
                        data: {{ chart_best_players_data_experience|tojson }},
                    },
                    {#  {
                        name: 'Ducks Killed',
                        colorByPoint: false,
                        visible: false,
                        data: {{ chart_best_players_data_ducks|tojson }},
                    }  #}]
            });
        {% endif %}

        Highcharts.chart('chart-shots', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Shots...'
            },
            yAxis: {
                title: {
                    text: 'Count',
                    align: 'high'
                },
            },
            xAxis: {
                labels: {
                    enabled: false,
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Shoots',
                colorByPoint: true,
                data: {{ shots_chart_data|tojson }},
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y} shots'
                },
            }]
        });
        {% if global_best_times %}
            Highcharts.chart('chart-best-times', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                yAxis: {
                    title: {
                        text: 'Time to kill (seconds)',
                        align: 'high'
                    },
                },
                xAxis: {
                    labels: {
                        enabled: false,
                    }
                },
                tooltip: {
                    valueSuffix: ' seconds'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: 'Best Times',
                    colorByPoint: true,
                    data: {{ chart_best_time|tojson }},
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}<br/>{point.y:.1f}s'
                    },
                    colors: {{ chart_best_colors|tojson }}
                }]
            });
        {% endif %}

    </script>


{% endblock %}