{% extends "base.jinja2" %}

{% block ogp %}
    <meta property="og:title" content="DuckHunt"/>
    <meta property="og:type" content="channel"/>
    <meta property="og:url" content="{{ canonical_domain_uri }}{{ request.get_full_path() }}"/>
    <meta property="og:site_name" content="DuckHunt Discord V4"/>
    <meta property="og:description"
          content="DuckHunt top scores for {{ paginator.count }} players on {{ channel.name }}."/>
{% endblock %}

{% block metadesc %}
    <meta name="description"
          content="{{ _('DuckHunt top scores for %(players)s players on #%(channel_name)s.', players=paginator.count, channel_name=channel.name) }}">
{% endblock %}

{% block title %}
    {% trans channel_name=channel.name %}
        DuckHunt V4 - Top Scores for #{{channel_name}}
    {% endtrans %}
{% endblock %}

{% block head %}
    {% javascript 'highcharts' %}
    <script src="{{ static('public/js/sorttable.js') }}"></script>
{% endblock %}

{% block container %}
    <div class="container text-light" itemscope itemtype="https://schema.org/Game">

        <h1>{% trans players_count=paginator.count, channel_name=channel.name %}
            <span itemprop=\"numberOfPlayers\">{{ players_count }}</span> players on #{{ channel_name }}{% endtrans %}
        </h1>

        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'" class="background-grey rounded">
            <ol class="breadcrumb p-2" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemtype="https://schema.org/WebPage" class="text-decoration-none"
                       itemprop="item" href="{{ canonical_domain_uri }}{{ url("guilds") }}">
                        <span itemprop="name" class="text-blurple">{{ _('Guilds') }}</span></a>
                    <meta itemprop="position" content="1"/>
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemtype="https://schema.org/WebPage" class="text-decoration-none"
                       itemprop="item" href="{{ canonical_domain_uri }}{{ url("guild", pk=channel.guild_id) }}">
                        <span itemprop="name" class="text-blurple text-decoration-none">{{ channel.guild.name }}</span></a>
                    <meta itemprop="position" content="2"/>
                </li>
                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <span itemprop="name" class="text-light">#{{ channel.name }}</span>
                    <meta itemprop="position" content="3"/>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-decoration-none"
                       href="{{ canonical_domain_uri }}{{ url("channel_settings", pk=channel.pk) }}">
                        <span class="text-blurple text-decoration-none">{{ _('Settings') }}</span></a>
                </li>
            </ol>
        </nav>

        {# Graphs #}
        {% if chart_best_players_data_experience %}
            <div class="h2">{{ _('Best players') }}</div>
            <div id="chart-best-players"></div>
        {% endif %}

        <div class="h2">{{ _('Where do bullets go ?') }}</div>
        <div id="chart-shots"></div>

        {% if global_best_times %}
            <div class="h2">{{ _('Fastest hunters in the west') }}</div>
            <div id="chart-best-times"></div>
        {% endif %}

        {# Top scores #}

        <h2>{{ _("Top scores") }}</h2>

        <table class="table table-dark table-hover sortable">
            <thead>
            <tr>
                <th class="background-green" scope="col">#</th>
                <th class="background-green" scope="col">{{ _('Name') }}</th>
                <th class="text-end background-green" scope="col">{{ _('Experience') }}</th>
                <th class="text-end background-green" scope="col">{{ _('Ducks killed') }}</th>
            </tr>
            </thead>
            <tbody>
            {% set player_url = url('player_nopk', channel_pk=channel.pk) %}
            {% for player in players %}
                <tr itemprop="character" itemscope itemtype="https://schema.org/Person">
                    <th scope="row">{{ players.start_index() + loop.index0 }}</th>
                    <td>
                        <a itemprop="url" itemtype="https://schema.org/WebPage"
                           href="{{ player_url }}{{ player.member.user.pk }}">
                            <span itemprop="givenName">{{ player.member.user.name }}</span>#{{ player.member.user.discriminator }}
                        </a>
                    </td>
                    <td class="text-end">{{ intcomma(player.experience) }}</td>
                    <td class="text-end">{{ player.total_ducks_killed }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if paginator.num_pages != 1 %}
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation" style="margin-top: 1em;">
                    <ul class="pagination pagination-sm flex-wrap">
                        {% for i in range(paginator.num_pages) %}
                            {% if i + 1 == players.number %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ i + 1 }}</span>
                                </li>
                            {% else %}
                                <li class="page-item"><a href="{{ request.path }}?page={{ i + 1 }}"
                                                         class="page-link">{{ i + 1 }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}

        <script>
            {% if chart_best_players_data_experience %}
                Highcharts.chart('chart-best-players', {
                    tooltip: {
                        pointFormat: gettext('Exp: {point.y}')
                    },
                    legend: {
                        enabled: true
                    },
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ''
                    },
                    yAxis: {
                        type: 'logarithmic',
                        title: {
                            text: gettext('Experience'),
                        },
                    },
                    xAxis: {
                        labels: {
                            enabled: true,
                        },
                        title: {
                            text: gettext('Rank'),
                        },
                    },
                    {# This force the graph to only show one serie at a time #}
                    plotOptions: {
                        series: {
                            events: {
                                show: (function () {
                                    var chart = this.chart,
                                        series = chart.series,
                                        i = series.length,
                                        otherSeries;
                                    while (i--) {
                                        otherSeries = series[i];
                                        if (otherSeries != this && otherSeries.visible) {
                                            otherSeries.hide();
                                        }
                                    }
                                })
                            }
                        }
                    },
                    series: [
                        {
                            name: gettext('Experience'),
                            colorByPoint: false,
                            data: {{ chart_best_players_data_experience|tojson }},
                        },
                        {#  {
                            name: 'Ducks Killed',
                            colorByPoint: false,
                            visible: false,
                            data: {{ chart_best_players_data_ducks|tojson }},
                        }  #}]
                });
            {% endif %}

            Highcharts.chart('chart-shots', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: gettext('Shots...')
                },
                yAxis: {
                    title: {
                        text: gettext('Count'),
                        align: 'high'
                    },
                },
                xAxis: {
                    labels: {
                        enabled: false,
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: gettext('Shoots'),
                    colorByPoint: true,
                    data: {{ shots_chart_data|tojson }},
                    dataLabels: {
                        enabled: true,
                        format: gettext('{point.name}: {point.y} shots')
                    },
                }]
            });
            {% if global_best_times %}
                Highcharts.chart('chart-best-times', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ''
                    },
                    yAxis: {
                        title: {
                            text: gettext('Time to kill (seconds)'),
                            align: 'high'
                        },
                    },
                    xAxis: {
                        labels: {
                            enabled: false,
                        }
                    },
                    tooltip: {
                        valueSuffix: gettext(' seconds')
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    series: [{
                        name: gettext('Best Times'),
                        colorByPoint: true,
                        data: {{ chart_best_time|tojson }},
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}<br/>{point.y:.1f}s'
                        },
                        colors: {{ chart_best_colors|tojson }}
                    }]
                });
            {% endif %}

        </script>

        {% trans link=url("guild", pk=channel.guild_id),guild_name=channel.guild.name %}
            Back to <a href="{{ link }}" itemprop="gameLocation">{{ guild_name }}</a>
        {% endtrans %}

    </div>


{% endblock %}
