{% extends "base.jinja2" %}

{% block title %}
    DuckHunt V4 - Guild
{% endblock %}

{% block content %}
    <h1>More about {{ guild.name }}</h1>

    <div class="card background-normal h-100">
        <div class="card-body">
            <div class="h4 card-title flex-grow-1 text-white-75"><span class="guild-name">{{ guild.name }}</span>
                <span class="widget-info d-none"> (<span class="online-member-count"></span> members online)</span>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            {% for channel in channels %}
                <li class="list-group-item background-normal border-bottom-0">
                    <div class="row row-cols-2">
                        <a class="text-blurple col-8" href="{{ url('channel', pk=channel.pk) }}">
                            <div>
                                #{{ channel.name }}
                            </div>
                        </a>

                        <a class="text-blurple col-3" href="{{ url('channel', pk=channel.pk) }}">
                            <div>
                                <span class="badge bg-dark text-white-75">{{ channel.player_count }} players</span>
                            </div>
                        </a>
                        <a class="text-decoration-none col-1" title="Settings"
                           href="{{ url('channel_settings', pk=channel.pk) }}">
                            <div>
                                ⚙️
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="card-footer text-muted">
            This server uses the <code>{{ guild.prefix }}</code> prefix. Currently, the language used on all channels is
            <a href="{{ url("guilds", language=guild.language) }}">{{ guild.language }}</a>.
            <span class="widget-info d-none">
                <a class="btn btn-sm btn-success invite-link float-end" href="">Join this server</a>
            </span>
        </div>
    </div>

    <br/>

    <script>
        $.ajax({
            dataType: "json",
            url: "https://discord.com/api/servers/{{ guild.discord_id }}/widget.json",
            success: function (data) {
                // If there is an error, fetching the json will give back a 403.
                if (data['message'] || false) {
                    console.log("No widget/Unknown guild")
                } else {
                    console.log('We have all the data we need.')
                    var guild_name = data['name'];
                    var invite = data['instant_invite'];
                    var presence_count = data['presence_count'];

                    $('.guild-name').text(guild_name);
                    $('.invite-link').attr('href', invite);
                    $('.online-member-count').text(presence_count);

                    $('.widget-info').removeClass("d-none");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(`No widget/Unknown guild : ${textStatus} (${errorThrown})`)
            }
        });

    </script>

{% endblock %}