{% extends "base.jinja2" %}

{% block ogp %}
    <meta property="og:title" content="DuckHunt"/>
    <meta property="og:type" content="guild"/>
    <meta property="og:url" content="{{ canonical_domain_uri }}{{ request.get_full_path() }}"/>
    <meta property="og:site_name" content="DuckHunt Discord V4"/>
    <meta property="og:description"
          content="Join the {{ guild.name }} server on Discord and play with DuckHunt."/>
{% endblock %}

{% block metadesc %}
    <meta name="description" content="{{ _("Join the %(guild_name)s server on Discord and play with DuckHunt.", guild_name=guild.name) }}">
{% endblock %}

{% block title %}
    {{ _("DuckHunt V4 - %(guild_name)s", guild_name=guild.name) }}
{% endblock %}

{% block head %}
    <script src="{{ static('public/js/jquery.min.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>{{ _("%(guild_name)s on Discord", guild_name=guild.name) }}</h1>

    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'" class="background-grey rounded">
        <ol class="breadcrumb p-2" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
                <a itemtype="https://schema.org/WebPage" class="text-decoration-none"
                   itemprop="item" href="{{ canonical_domain_uri }}{{ url("guilds") }}">
                    <span itemprop="name" class="text-blurple">{{ _("Guilds") }}</span></a>
                <meta itemprop="position" content="1"/>
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
                <span itemprop="name" class="text-light">{{ guild.name }}</span>
                <meta itemprop="position" content="2"/>
            </li>
        </ol>
    </nav>

    <div class="card background-normal h-100">
        <div class="card-body">
            <div class="h4 card-title flex-grow-1 text-white-75">{% if guild.vip %}<span class="badge text-danger background-golden float-end ">{{ _("VIP") }}</span>{% endif %}{{ _("<span class=\"guild-name\">%(guild_name)s</span>
                <span class=\"widget-info d-none\"> (<span class=\"online-member-count\"></span> members online)</span>", guild_name=guild.name) }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            {% for channel in channels %}
                <li class="list-group-item background-normal border-bottom-0">
                    <div class="row row-cols-2">
                        <a href="{{ url('channel', pk=channel.pk) }}" class="text-blurple col-8">
                            <div>
                                #{{ channel.name }}
                            </div>
                        </a>

                        <a href="{{ url('channel', pk=channel.pk) }}" class="text-blurple col-3">
                            <div>
                                <span class="badge bg-dark text-white-75">{{ _("%(channel_player_count)s players", channel_player_count=channel.player_count) }}</span>
                            </div>
                        </a>
                        <a href="{{ url('channel_settings', pk=channel.pk) }}"
                           class="text-decoration-none col-1" title="{{ _("Settings") }}">
                            <div>
                                ⚙️
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
            {% if landmines_players %}
            <li class="list-group-item background-normal border-bottom-0">
                <div class="row row-cols-2">
                    <a href="{{ url('guild_landmines', pk=guild.pk) }}" class="text-blurple col-8">
                        <div>
                            Landmines statistics
                        </div>
                    </a>

                    <a href="{{ url('guild_landmines', pk=guild.pk) }}" class="text-blurple col-3">
                        <div>
                            <span class="badge bg-dark text-white-75">{{ _("%(landmines_players)s players", landmines_players=landmines_players) }}</span>
                        </div>
                    </a>

                    <div class="col-1">
                        💥
                    </div>

                </div>
            </li>
            {% endif %}
        </ul>
        <div class="card-footer text-muted">
            {{ _("This server uses the <code>%(guild_prefix)s</code> prefix. Currently, the language used on all channels is
            <a href=\"%(url)s\">%(guild_language)s</a>.", url=url("guilds", language=guild.language), guild_language=guild.language, guild_prefix=guild.prefix) }}
            <span class="widget-info d-none">
                <a href="" class="btn btn-sm btn-success invite-link float-end">{{ _("Invitation to join this server") }}</a>
            </span>
        </div>
    </div>

    <br/>

    <script>
        $.ajax({
            dataType: "json",
            url: "https://discord.com/api/servers/{{ guild.discord_id }}/widget.json",
            success: function (data) {
                // If there is an error, fetching the json will give back a 403.
                if (data['message'] || false) {
                    console.log("No widget/Unknown guild")
                } else {
                    console.log('We have all the data we need.')
                    var guild_name = data['name'];
                    var invite = data['instant_invite'];
                    var presence_count = data['presence_count'];

                    $('.guild-name').text(guild_name);
                    $('.invite-link').attr('href', invite);
                    $('.online-member-count').text(presence_count);

                    $('.widget-info').removeClass("d-none");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(`No widget/Unknown guild : ${textStatus} (${errorThrown})`)
            }
        });

    </script>

{% endblock %}
