{% extends "base.jinja2" %}

{% block canonical %}
    {% if not guild %}
        <link rel="canonical" href="https://duckhunt.me{{ url("guild", pk=0) }}"/>
    {% else %}
        <link rel="canonical" href="https://duckhunt.me{{ request.get_full_path() }}"/>
    {% endif %}
{% endblock %}

{% block metadesc %}
    {% if not guild %}
        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">
    {% else %}
        <meta name="description" content="Join the {{ guild.name }} server on Discord and play with DuckHunt.">
    {% endif %}
{% endblock %}

{% block title %}
    DuckHunt V4 - Configure that server
{% endblock %}

{% block content %}
    {% if not guild %}
        <h1>This guild does not exist</h1>
    {% else %}
        <h1>Guild not configured: {{ guild.name }}</h1>
    {% endif %}
    <h2>If you are a member on this server</h2>
    <p>Please tell the admins to configure one or more channels for ducks to spawn.</p>

    <h2>If you are an admin on this server</h2>
    <p>Welcome and thanks for installing DuckHunt! 🎉</p>
    <p>You might want to start by creating a specific channel for DuckHunt or enabling an existing one.
        In that channel, type
        <code>dhsettings enabled True</code>.
    </p>
    <p>You'll now need to adjust some settings to make it the perfect duck-paradise. Check the settings page to find
        what you can do to make DuckHunt even better.
    </p>
    <p>DuckHunt is made with love by Eyesofcreeper#0001, and translated by many volunteers.</p>

{% endblock %}