{% extends "base.jinja2" %}

{% block metadesc %}
    <meta name="description" content="How to use the {{ command_to_see }} command on the DuckHunt Discord Bot.">
{% endblock %}

{% block canonical %}
    <link rel="canonical"
          href="https://duckhunt.me{{ url("bot_commands", command=command_to_see.replace(' ', '/')) }}"/>
{% endblock %}

{% block title %}
    DuckHunt V4 - {{ command_to_see }}{% if command['name'] != command_to_see %} ({{ command['name'] }}){% endif %}
{% endblock %}

{% block content %}
    <h1><code>{{ command_to_see }}</code>{% if command['name'] != command_to_see %} (<code>{{ command['name'] }}</code>
        ){% endif %}</h1>
    <div class="card background-normal h-100">
        <div class="card-body">
            <h5 class="card-title flex-grow-1">{{ command['name'] }} {% if command.get('access_name') %}
                <span class="badge bg-danger">{{ command.get('access_name') }}</span>{% endif %}</h5>
            {% if command['aliases'] %}
                <h6 class="card-subtitle mb-2 text-muted">Aliases:

                    {% for alias in command['aliases'] %}
                        {% if parent_name %}
                            {% set subcommand_url = parent_name.replace(' ', '/') + '/' + alias %}
                        {% else %}
                            {% set subcommand_url = alias %}
                        {% endif %}

                        <a href="{{ url("bot_commands", command=subcommand_url) }}" class="text-decoration-none">
                            <span class="badge bg-secondary pe-1">{{ alias }}</span>
                        </a>
                    {% endfor %}
                </h6>
            {% endif %}
            <p>{{ command['help']|nl2br }}</p>
            Invoke with:
            <pre>{{ prefix }}{{ command['invoke_with'] }}</pre>

        </div>

        {% if command.get('subcommands', []) %}
            <div class="card-footer">
            This command has some subcommands: <br/>
            <div class="row row-cols-2">
                {% for subcommand_name, subcommand in command['subcommands'].items() %}

                    {% if command['name'] == "shop" and subcommand['aliases'] and subcommand['aliases'][0].isdigit() %}
                        <div class="col-1 text-center">
                            <span class="badge pill bg-secondary">{{ subcommand['aliases'][0] }}</span>
                        </div>
                        <div class="col-3 col-md-2">
                    {% else %}
                        <div class="col-4 col-md-3">
                    {% endif %}

                {% set subcommand_url = command_to_see.replace(' ', '/') + '/' + subcommand_name %}
                <a href="{{ url("bot_commands", command=subcommand_url) }}"
                   class="card-link text-decoration-none">
                    <span class="badge rounded-pill bg-dark">{{ subcommand_name }}</span>
                </a>
                </div>
                    <div class="col-8 col-md-9">{{ subcommand['short_doc'] }}</div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        </div>
        {% if parent %}
            You can got back to the
            <a href="{{ url("bot_commands", command=parent_name.replace(' ', '/')) }}">{{ parent_name }} help page</a>,
            or
            <a href="{{ url("bot_commands") }}">see all the commands</a>.
        {% else %}
            You can also <a href="{{ url("bot_commands") }}">see all the commands</a>.
        {% endif %}
{% endblock %}