{% extends "base.jinja2" %}

{% block metadesc %}
    <meta name="description" content="How to use the {{ command_to_see }} command on the DuckHunt Discord Bot.">
{% endblock %}

{% block canonical %}
    <link rel="canonical"
          href="{{ canonical_domain_uri }}{{ url("bot_commands", command=command_to_see.replace(' ', '/')) }}"/>
{% endblock %}

{% block title %}
    {{ _("DuckHunt V4 - %(command_to_see)s", command_to_see=command_to_see) }}{% if command['name'] != command_to_see %} ({{ command['name'] }}){% endif %}
{% endblock %}

{% block content %}
    <h1><code>{{ command_to_see }}</code>{% if command['name'] != command_to_see %}
        (<code>{{ command['name'] }}</code>){% endif %}</h1>


    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'" class="background-grey rounded">
        <ol class="breadcrumb p-2" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
                <a itemtype="https://schema.org/WebPage" class="text-decoration-none"
                   itemprop="item" href="{{ canonical_domain_uri }}{{ url("bot_commands") }}">
                    <span itemprop="name" class="text-blurple">{{ _("Commands") }}</span></a>
                <meta itemprop="position" content="1"/>
            </li>
            {% set position = namespace(value=1) %}
            {% if parent %}
                {% for chld in parent_name.split('/') %}
                    {% set position.value = position.value + 1 %}
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a itemtype="https://schema.org/WebPage" class="text-decoration-none"
                           itemprop="item" href="{{ canonical_domain_uri }}{{ url("bot_commands", command=chld.replace(' ', '/')) }}">
                            <span itemprop="name"
                                  class="text-blurple text-decoration-none">{{ chld }}</span></a>
                        <meta itemprop="position" content="{{ position.value }}"/>
                    </li>
                {% endfor %}
            {% endif %}
            <li class="breadcrumb-item active" itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
                <span itemprop="name" class="text-light text-decoration-none">{{ command_to_see.split(' ')[-1] }}</span>
                <meta itemprop="position" content="{{ position.value + 1 }}"/>
            </li>
        </ol>
    </nav>

    <div class="card background-normal h-100">
        <div class="card-body">
            <h5 class="card-title flex-grow-1">{{ command['name'] }} {% if command.get('access_name') %}
                <span class="badge bg-danger">{{ command.get('access_name') }}</span>{% endif %}</h5>
            {% if command['aliases'] %}
                <h6 class="card-subtitle mb-2 text-muted">{{ _("Aliases:") }}

                    {% for alias in command['aliases'] %}
                        {% if parent_name %}
                            {% set subcommand_url = parent_name.replace(' ', '/') + '/' + alias %}
                        {% else %}
                            {% set subcommand_url = alias %}
                        {% endif %}

                        <a href="{{ url("bot_commands", command=subcommand_url) }}" class="text-decoration-none">
                            <span class="badge bg-secondary pe-2 ps-2">{{ alias }}</span>
                        </a>
                    {% endfor %}
                </h6>
            {% endif %}
            <p>{% if command['help'] %}{{ command['help']|nl2br }}{% else %}No help for this command, sorry.{% endif %}</p>
            {{ _("Invoke with:") }}
            <pre>{{ prefix }}{{ command['invoke_with'] }}</pre>

        </div>

        {% if command.get('subcommands', []) %}
            <div class="card-footer">
            {{ _("This command has some subcommands:") }} <br/>
            <div class="row row-cols-2">
                {% for subcommand_name, subcommand in command['subcommands'].items() %}

                    {% if command['name'] == "shop" and subcommand['aliases'] and subcommand['aliases'][0].isdigit() %}
                        <div class="col-1 text-center">
                            <span class="badge pill bg-secondary">{{ subcommand['aliases'][0] }}</span>
                        </div>
                        <div class="col-3 col-md-2">
                    {% else %}
                        <div class="col-4 col-md-3">
                    {% endif %}

                {% set subcommand_url = command_to_see.replace(' ', '/') + '/' + subcommand_name %}
                <a href="{{ url("bot_commands", command=subcommand_url) }}"
                   class="card-link text-decoration-none">
                    <span class="badge rounded-pill bg-dark">{{ subcommand_name }}</span>
                </a>
                </div>
                    <div class="col-8 col-md-9">{{ subcommand['short_doc'] }}</div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        </div>
{% endblock %}