{% extends "base.jinja2" %}

{% block title %}
    DuckHunt V4
{% endblock %}

{% block container %}
    <div class="container-fluid text-light background-dark">
        <div class="row justify-content-center" style="padding-top: 10vh; padding-bottom: 10vh;">
            <div class="col-xxl-6 col-xl-7 col-md-8 col-sm-9 col-xs-12">
                <div class="text-center" style="font-size:4rem !important;line-height:1.4;">DuckHunt
                </div>
                <p class="text-center text-white-75 lead">Entertain your members with the best game on discord.</p>

                <br/>

                <div class="row justify-content-around">
                    <a href="https://discordapp.com/api/oauth2/authorize?client_id=187636051135823872&permissions=70646849&scope=bot"
                       class="col-5 col-xxl-4 btn background-blurple btn-large align-content-center align-middle hero-button">
                        <img src="{{ static("public/img/Discord-Logo-White.svg") }}" height="30px" alt="Discord logo">
                        Invite DuckHunt now
                    </a>

                    <a href="{{ url("docs:index") }}"
                       class="col-5 col-xxl-4 btn btn-secondary btn-large align-content-center align-middle hero-button">Learn
                        more »</a>

                </div>
            </div>
        </div>
    </div>

    <svg viewBox="0 0 1921 152" xmlns="http://www.w3.org/2000/svg">
        <path d="m826.337463 26.5396311c-155.367209 33.1163339-222.641282 43.2473956-378.534982 9.6047072-154.459703-33.33322416-310.468711-33.33322416-447.802481-33.33322416v148.18888586h1920v-148.18888586c-180.46477-18.49651244-240.13596 71.34967266-530.2174 35.67483636-290.08143-35.67483636-408.077928-45.06265331-563.445137-11.9463194z"
              transform="matrix(-1 0 0 -1 1920 151)" fill="#202225"></path>
    </svg>

    <div class="container text-light">
        <div class="row align-items-top">
            {% for stat in parsed_stats %}
                <div class="col-lg-{{ 3 * stat.get('scale', 1) }} col-md-{{ 6 * stat.get('scale', 1) }} col-sm-{{ 6 * stat.get('scale', 1) }}"
                     style="padding-top: 40px;">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="media-body text-left">
                                        <h3 class="text-{{ stat['color'] }}">{{ stat['value'] }}</h3>
                                        <span class="text-dark">{{ stat['name'] }}</span>
                                    </div>
                                    <div class="align-self-center float-end bg-{{ stat['color'] }}-gradient"
                                         style="margin-top: -90px; padding-bottom: 10px; border-radius: 10px;">
                                        <div style="margin: 10px;">
                                            <i class=" fa-fw {{ stat['icon'] }} text-white display-6 float-end"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container text-light" style="padding-top: 3em;">
        <div class="row pt-3">
            <div class="col-5 align-middle align-self-center">
                <div class="h2 text-center">Hunting is open</div>
                <p>Players will be able to kill ducks and earn experience, while trying not to hurt babies.</p>
            </div>
            <div class="col-7">
                <figure class="figure">
                    <img src="{{ static('public/img/DuckHunt_pan.png') }}" class="figure-img img-fluid rounded"
                         alt="Shooting ducks">
                </figure>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-6">
                <figure class="figure">
                    <img src="{{ static('public/img/Settings_parliment.png') }}" class="figure-img img-fluid rounded"
                         alt="Parliament in settings">
                </figure>
            </div>
            <div class="col-6 align-middle align-self-center">
                <div class="h2 text-center">Easy and powerful setup</div>
                <p>You can setup the bot directly from discord using commands, and you can see them update in real time
                    on the web interface.</p>
                <p>We offer a complete and easy to understand <a href="{{ url('docs:index') }}">documentation</a>, to
                    help you set everything perfectly.</p>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-4 align-middle align-self-center">
                <div class="h2 text-center">Loads of statistics</div>
                <p>Best times, shots count, bullets, experience used and more are all logged by the bot and displayed in
                    Discord and on the web interface.</p>
                <p>Players can see exactly how they did so far, and get a <strong>personal webpage</strong> with all
                    their statistics. They also get to see how far they got with an interactive <strong>channel leaderboard</strong>.
                </p>
            </div>
            <div class="col-8">
                <figure class="figure">
                    <img src="{{ static('public/img/Best_times_graph.svg') }}" class="figure-img img-fluid rounded"
                         alt="Faster than ya">
                </figure>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 align-middle align-self-center">
                <div class="h2 text-center">The big bang theory</div>
                <p>After polling 2 hunters from my server, I can say for sure at least 635 of them loved the bot so much they
                    wanted to have it too.</p>
            </div>
        </div>
    </div>
{% endblock %}