{% extends "base.jinja2" %}

{% block metadesc %}
    <meta name="description" content="What does DuckHunt do with your data">
{% endblock %}

{% block title %}
    DuckHunt V4 - Privacy Policy
{% endblock %}

{% block content %}
    <h1>DuckHunt Privacy Policy</h1>
    Last updated and effective: February 14, 2021

    This privacy policy applies to the DuckHunt Discord Bot.

    <h2>What data does DuckHunt collects ?</h2>
    DuckHunt collects data only when you interact with it.
    <ul>
        <li>Commands are logged for debugging purposes, and invocations are deleted from the logs after a month, but usually earlier (2-3 hours)</li>
        <li>Statistics for hunters are stored and displayed on the website</li>
    </ul>

    <h2>Why does DuckHunt needs the data ?</h2>
    DuckHunt uses the data collected only to store scores and statistics. There is no analytics or AI training or anything going on behind the scenes.

    <h2>How does DuckHunt uses the data ?</h2>
    DuckHunt only uses the data in the game contexts.

    <h2>Who does DuckHunt shares data with ?</h2>
    DuckHunt data can be accessed from the website, the bot or the API. Currently, there isn't any service that receive data pushed by DuckHunt.

    You can chek for yourself, since the source code is open.

    Aggregate data (server count and players count) may be shared with third parties, but that's no more than what you can find directly on <a href="https://duckhunt.me">this website homepage</a>.

    <h2>How can I contact you if I have concerns about the bot or to remove my data ?</h2>
    The best way would be to contact Eyesofcreeper#0001 on Discord.
{% endblock %}