{% extends "base.jinja2" %}

{% block metadesc %}
   <meta name="description" content="Status of shard n°{{ shard['shard_id'] }} on DuckHunt.">
{% endblock %}

{% block title %}
    {{ _("DuckHunt V4 - Discord Status of shard n°%(shard__shard_id__)s", shard__shard_id__=shard['shard_id']) }}
{% endblock %}

{% block content %}

    <h1>{{ _("Status of shard n°%(shard__shard_id__)s", shard__shard_id__=shard['shard_id']) }}</h1>

    <div class="card background-normal mt-4">
        {% if shard %}
            <div class="card-body">
                <div class="d-flex">
                    <div class="h5 card-title flex-grow-1">{{ _("Shard n°%(shard__shard_id__)s", shard__shard_id__=shard['shard_id']) }}
                        {% if shard['ready'] %}
                            {{ _("(ready)") }}{% endif %}</div>
                </div>
                <p>{{ _("Shard latency: %(shard__latency__)sms", shard__latency__=shard['latency']) }}</p>

                {{ _("Guilds belonging to this shard:") }}
                <ul class="list-group list-group-flush background-normal">
                    <li class="list-group-item background-normal">
                        <table class="table table-sm table-dark table-striped">
                            <thead>
                            <tr>
                                <th scope="col">{{ _("Name") }}</th>
                                <th scope="col">{{ _("Members") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set guild_url = url('guild_nopk') %}
                            {% for guild in shard["guilds"] %}
                                <tr>
                                    <td><a href="{{ guild_url }}{{ guild['id'] }}">{{ guild['name'] }}</a></td>
                                    <td>{{ guild['members'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </li>
                </ul>

            </div>

            {% if shard["guilds"] %}
                <div class="card-footer">
                    {{ _("This shard host a total of %(shard__guilds__)s guilds.", shard__guilds__=shard['guilds']|length) }}
                </div>
            {% endif %}
        {% else %}
            <div class="card-header">
                {{ _("Shard disconnected") }}
            </div>
            <div class="card-body">
                <p>
                    {{ _("Either the shard does not exist, is not (yet) connected, or is unavailable.
                    You can check the shards list <a href=\"%(url)s\">here</a> to see all connected
                    shards.", url=url("bot_status")) }}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}