{% extends "base.jinja2" %}

{% block title %}
    DuckHunt V4 - Discord Status
{% endblock %}

{% block content %}
    <h1>DuckHunt status</h1>
    <p>
        This page shows the bot shards status. If some shards show errors, you might want to check the
        <a href="https://discordstatus.com/">discord status page</a> to make sure discord isn't having hiccups.

        If discord seems fine, please come and tell us about the problem on the
        <a href="https://discordapp.com/invite/2BksEkV">support server</a>.
    </p>
    <p>
        The current bot-wide latency to discord is {{ status['bot_latency'] }} seconds.
    </p>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        {% for shard in status.shards_status %}
            <div class="col">
                <div class="card background-normal h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="h5 card-title flex-grow-1">Shard n°{{ shard['shard_id'] }}{% if shard['ready'] %} (ready){% endif %}</div>
                        </div>
                        <p>Shard latency: {{ shard['latency'] }}s</p>
                    </div>

                    {% if shard["guilds"] %}
                        <div class="card-footer">
                            This shard is connected to {{ shard["guilds"]|length }} guilds. To see the list, click <a href="{{ url('bot_shard_status', shard_id=shard['shard_id']) }}">here</a>.
                        </div>
                    {% endif %}
                </div>
                <br/>
            </div>
        {% endfor %}
    </div>

{% endblock %}