#toc {
    padding-left: 1em;
    background-color: #2a3539;
}

#toc .h1 {
    text-align: center;
    color: white !important;
}

#toc li {
    list-style-type: none;
}

#toc a:link, #toc a {
    text-decoration: none;
    color: rgb(116, 129, 141);
}

#toc a:link:hover, #toc a:hover {
    text-decoration: underline;
    /*background-color: #332a39;*/
    color: rgb(38, 203, 124);
}

h2 {
    line-height: 1.3;
    border-bottom: 1px solid darkgray;
}

h3, .h3 {
    line-height: 1.8;
    font-size: 150%;
    color: #7187dd;
}

p {
    line-height: 1.4;
}

.alert p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

hr {
  border-bottom: 4px solid green;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}