{% extends "base.jinja2" %}

{% block metadesc %}
    {% if category %}
        <meta name="description" content="DuckHunt documentation about {{ page }} on {{ category }}.">
    {% elif page == "README" %}
        <meta name="description" content="The DuckHunt bot documentation.">
    {% else %}
        <meta name="description" content="DuckHunt documentation about {{ page }}.">
    {% endif %}
{% endblock %}

{% block head %}
    <link href="{{ static('docs/docs.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}
    DuckHunt V4 docs - {{ page }}
{% endblock %}

{% block container %}
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col col-12 col-md-4 col-xl-3 order-3 order-md-1 rounded" id="toc">
                <div id="toc_inside">
                    {{ parsed_summary }}
                </div>
                <br/>
                <hr/>

                <div class="text-center"><a href="{{ gh_file }}"><i class="fab fa-github"></i> Edit this page on github</a>
                </div>
                <br/>

            </div>
            <div class="col col-12 offset-xl-1 col-md-8 col-xl-7 order-2">
                <div class="pe-0 pe-lg-3" id="content">
                    <div id="content_inside">
                        {{ parsed_content }}
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}