{% extends "base.jinja2" %}

{% block metadesc %}
    {% if category %}
        <meta name="description" content="DuckHunt documentation about {{ page }} on {{ category }}.">
    {% elif page == "README" %}
        <meta name="description" content="The DuckHunt bot documentation.">
    {% else %}
        <meta name="description" content="DuckHunt documentation about {{ page }}.">
    {% endif %}
{% endblock %}

{% block head %}
    <link href="{{ static('docs/docs.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}
    DuckHunt V4 docs - {{ page }}
{% endblock %}

{% block container %}
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col col-12 col-md-4 col-xl-3 order-3 order-md-1 rounded" id="toc">
                <div id="toc_inside">
                    {{ parsed_summary }}
                </div>
                <br/>
                <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'" class="small">
                    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li class="breadcrumb-item{% if page == "README" %} active{% endif %}" itemprop="itemListElement" itemscope
                            itemtype="https://schema.org/ListItem">
                            <a itemtype="https://schema.org/WebPage"
                               itemprop="item" href="{{ canonical_domain_uri }}{{ url("docs:index") }}">
                                <span itemprop="name" class="text-muted">Documentation</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        {% if category %}
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                                itemtype="https://schema.org/ListItem">
                                <span itemprop="name" class="text-muted">{{ category.replace('-', ' ').title() }}</span>
                                <meta itemprop="position" content="2"/>
                            </li>
                        {% endif %}
                        {% if page != "README" %}
                            <li class="breadcrumb-item active" itemprop="itemListElement" itemscope
                                itemtype="https://schema.org/ListItem">
                                <span itemprop="name" class="text-muted">{{ page.replace('-', ' ').title() }}</span>
                                <meta itemprop="position" content="3"/>
                            </li>
                        {% endif %}
                    </ol>
                </nav>

                <hr/>

                <div class="text-center"><a href="{{ gh_file }}"><i class="fab fa-github"></i> Edit this page on github</a>
                </div>
                <br/>

            </div>
            <div class="col col-12 offset-xl-1 col-md-8 col-xl-7 order-2">
                <div class="pe-0 pe-lg-3" id="content">
                    <div id="content_inside">
                        {{ parsed_content }}
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}