{% extends "base.jinja2" %}

{% block metadesc %}
    <meta name="description" content="DuckHunt documentation table of content.">
{% endblock %}

{% block title %}
    DuckHunt V4 docs - Table of Contents
{% endblock %}

{% block content %}
    {{ parsed_content }}

    <hr/>

    You can <a href="{{ gh_file }}">edit the documentation on github</a>, or ask on the support server to access the
    WYSIWYG editor.<br/>

    You've reached the bottom. Would you like to <a href="{{ url('docs:index') }}">go back to the docs homepage</a> ?

{% endblock %}