{% extends "base.jinja2" %}

{% block canonical %}
    <link rel="canonical" href="{{ canonical_domain_uri }}"/>
{% endblock %}

{% block metadesc %}
    <meta name="description" content="DuckHunt tags, learn more about the best game bot on Discord">
{% endblock %}

{% block title %}
    DuckHunt V4 - Tags
{% endblock %}

{% block content %}
    <h1>Say hello to tags.</h1>
{% endblock %}