{% extends "base.jinja2" %}

{% block canonical %}
    <link rel="canonical" href="{{ canonical_domain_uri }}"/>
{% endblock %}

{% block metadesc %}
    <meta name="description" content="DuckHunt tags, learn more about the best game bot on Discord">
{% endblock %}

{% block title %}
    DuckHunt V4 - Tags
{% endblock %}

{% block content %}
    <h1>{{ tag.name }}</h1>
    {{ tag.html }}

    <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#rawTag"
            aria-expanded="false" aria-controls="rawTag">
        View raw tag data
    </button>

    <div class="collapse" id="rawTag">
        <pre>
            {{ tag.content }}
        </pre>
    </div>
{% endblock %}