{% extends "base.jinja2" %}

{% block canonical %}
    <link rel="canonical" href="{{ canonical_domain_uri }}/tags/{{ tag.name }}"/>
{% endblock %}

{% block metadesc %}
    <meta name="description" content="DuckHunt tags, learn more about the best game bot on Discord">
{% endblock %}

{% block title %}
    {{ _("DuckHunt V4 - Tags") }}
{% endblock %}

{% block content %}
    <h1>{{ tag.name }}</h1>
    {{ tag.html }}

    <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rawTag"
                aria-expanded="false" aria-controls="rawTag">
            {{ _("View raw tag data") }}
        </button>
    </div>


    <div class="collapse" id="rawTag">
        <pre>{{ tag.content }}</pre>
    </div>


{% endblock %}