{% extends "base.jinja2" %}

{% block metadesc %}
    <meta name="description"
          content="{{ category }}">
{% endblock %}

{% block title %}
    DuckHunt V4 Shop - {{ category }}
{% endblock %}

{% block content %}
    <h1>{{ category }}</h1>

    <div class="row">
        {% for product in products %}
            <div class="col col-12 col-md-6 col-lg-3 mt-2 mb-2">
                <!-- Product info -->
                <div class="card background-normal h-100 nice-card-borders">

                    <div class="card-body">
                        <div class="h4 card-title flex-grow-1 text-white-75">
                            {{ product.display_name_on_design }}
                        </div>
                    </div>
                    {% set picture=product.pictures.first().thumbnail_list %}
                    <img src="{{ picture.url }}"
                         width="{{ picture.width }}" height="{{ picture.height }}"
                         class="card-img-top img-fluid"
                         alt="{{ product }} image">
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <a href="{{ url('shop_product_info', product_id=product.id) }}"
                                   type="button"
                                   class="btn btn-outline-secondary">
                                    View product
                                </a>
                            </div>
                            <div class="col text-end">
                                <form method="POST"
                                      action="{{ url('shop_product_api', product_id=product.id) }}">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="btn btn-outline-success">
                                        {{ product.price }} <i class="fas fa-cart-arrow-down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}