{% extends "base.jinja2" %}

{% block metadesc %}
    <meta name="description" content="DuckHunt Shop">
{% endblock %}

{% block title %}
    {{ _("DuckHunt V4 Shop") }}
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <h1>{{ _("DuckHunt shop designs") }}</h1>

    {% set url_prefix=url('shop_design_info_without_ID') %}
    <div class="row">
        {% for design_info in designs %}
            <div class="col col-12 col-md-6 col-lg-3 mt-2 mb-2">
                <!-- Product info -->
                <div class="card background-normal h-100 nice-card-borders">

                    <div class="card-body">
                        <div class="h4 card-title flex-grow-1 text-white-75">
                            {{ design_info['design_name'] }}
                        </div>
                    </div>
                    <img src="{{ design_info['photo_url'] }}"
                         width="{{ design_info['photo_width'] }}" height="{{ design_info['photo_height'] }}"
                         class="card-img-top img-fluid"
                         alt="{{ _("%(design_info__design_name__)s image", design_info__design_name__=design_info['design_name']) }}">
                    <div class="card-footer">
                        <div class="row align-content-center">
                            <div class="col">
                                <a href="{{ url_prefix }}{{ design_info['design_id'] }}"
                                   type="button"
                                   class="btn btn-outline-secondary">
                                    {{ _("View more") }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}