{% extends "base.jinja2" %}

{% block title %}
    DuckHunt V4 - Discord Status
{% endblock %}

{% block content %}


    <div class="card background-normal mt-4">
        {% if shard %}
            <div class="card-body">
                <div class="d-flex">
                    <div class="h5 card-title flex-grow-1">Shard n°{{ shard['shard_id'] }}
                        {% if shard['ready'] %}
                            (ready){% endif %}</div>
                </div>
                <p>Shard latency: {{ shard['latency'] }}ms</p>

                Guilds belonging to this shard:
                <ul class="list-group list-group-flush background-normal">
                    <li class="list-group-item background-normal">
                        <table class="table table-sm table-dark table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Members</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for guild in shard["guilds"] %}
                                <tr>
                                    <td><a href="{{ url("guild", pk=guild['id']) }}">{{ guild['name'] }}</a></td>
                                    <td>{{ guild['members'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </li>
                </ul>

            </div>

            {% if shard["guilds"] %}
                <div class="card-footer">
                    This shard host a total of {{ shard['guilds']|length }} guilds.
                </div>
            {% endif %}
        {% else %}
            <div class="card-header">
                Shard disconnected
            </div>
            <div class="card-body">
                <p>
                    Either the shard does not exist, is not (yet) connected, or is unavailable.
                    You can check the shards list <a href="{{ url("bot_status") }}">here</a> to see all connected
                    shards.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}